{% extends 'base.html' %}

{% block title %}Help{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

<h3>Frequently Asked Questions</h3>
<h5>What is Poseidon?</h5> 
<p> Poseidon is a free document automation service that allows users to create document templates that can be shared with others through an easy to use form.
<h5>How does Poseidon work?</h5>
<p> Poseidon generates documents by combining a user-created .DOCX template with information from an online form. For more information about this process, see our <a href="{% url 'docs:get_started' %}">getting started page.</a></p>
<br>
<h3>Support and Inquiries</h3>
<p> For questions and support requests, please contact us at the following e-mail address: <a href="mailto:poseidondocuments@gmail.com">poseidondocuments@gmail.com</a></p>
<p> Alternatively, you may fill out the contact form below. When filling out this form, please provide a valid e-mail address in the "reply to" field. </p>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" name="create_doc" class="btn btn-success ml-2">Send</button>
</form>
<br>

{% endblock content %}