{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Poseidon</h1>
    <p class="lead">Collaborative document automation made simple.</p>
    </p>
</div>
<p><b> Welcome to Poseidon</b>, a free document automation service. </p>
<p>Create your own document templates and pair them with forms that can be shared with anyone across the world.</p>
{% if user.is_authenticated %}
    <span>To begin automating documents of any type, </span> <b><a href="{% url 'docs:get_started' %}">get started here.</b></a>
{% else %}
    <span>To begin automating documents of any type, first <b><a href="{% url 'signup' %}">create an account</b></a> or <b><a href="{% url 'login' %}">log in</a></b>.</span>
{% endif %}
<br>
<br>
<p> For an example of Poseidon in action, click <b><a href='https://poseidondocs.herokuapp.com/anon_pop_form/c0cdbfe8-4895-4c75-b836-04e3f4ae2669/'>here</a></b>.
<br>

{% endblock content %}